// Mixins in here

.new-btn(@height, @bcolor, @tcolor, @tsize){
	display: flex;
	justify-content: center;
	align-items: center;

	height: @height;
	width: 99%;
	background-color: @bcolor;
	color: @tcolor;
	font-size: @tsize;
	border-radius: 15px;
}